[submodule "external/BIManalyst_g_xy"]
	path = external/BIManalyst_g_xy
	url = https://github.com/timmcginley/BIManalyst_g_xy.git
[submodule "BIMANALYST_G_4"]
	path = BIMANALYST_G_4
	url = https://github.com/LisannePut/BIMANALYST_G_4
	branch = main
[submodule "external/openBIM2025"]
	path = external/openBIM2025
	url = https://github.com/aalisa0/openBIM2025
	branch = main
[submodule "external/openBIM2025_GRP2"]
	path = external/openBIM2025_GRP2
	url = https://github.com/aalisa0/openBIM2025_GRP2
	branch = main
[submodule "external/BIMANALYST_G_4"]
	path = external/BIMANALYST_G_4
	url = https://github.com/LisannePut/BIMANALYST_G_4
	branch = main
[submodule "external/BIManalyst_g_01"]
	path = external/BIManalyst_g_01
	url = https://github.com/NicolaiVoldstedlund/BIManalyst_g_01
	branch = main
